<div id="not-found"
     class="container-fluid d-flex flex-column justify-content-center align-items-center px-2 py-5 text-center">
  <div class="num">404</div>
  <h1 class="fs-3">We're sorry, the page you were looking for couldn't be found.</h1>

  <img class="gif py-3 img-fluid"
       src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExYTk5ZDcyODkyMmU4ZTM1M2U1YjRlZjcwYzJhMGViYzkwOTZjNzZiYSZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PXM/YOBYiO1RiAfK1cvI8l/giphy.gif"
       alt="">

  <button type="button" class="btn btn-primary btn-lg rounded-pill" routerLink="/">Go Home</button>

</div>
