<div id="about">

  <div class="container-fluid p-0 subheader">
    <div
      class="container-fluid d-flex flex-column justify-content-center align-items-center text-center px-2">
      <h1>About The Project</h1>
      <nav style="--bs-breadcrumb-divider: '›';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="container-xxl px-4 py-5">
    <div class="row">
      <div class="col-md-5 d-flex flex-column justify-content-center">
        <h2>Video Presentation</h2>
        <p>
          Watch a quick overview of the visualizations and website created for the project.
        </p>
      </div>
      <div class="col-md-7 d-flex flex-column justify-content-center">
        <div class="yt-embed">
          <iframe width="100%" src="https://www.youtube.com/embed/hEA0EQouo4E" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen>
          </iframe>
        </div>

      </div>
    </div>


  </div>

  <div class="container-fluid team my-4">
    <div class="container-xxl px-4 py-5 text-center">
      <div class="row mb-3">
        <div class="col-12">
          <h2>Project Team</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 d-flex flex-column justify-content-start align-items-center p-4">
          <h4>Filippos Klados</h4>
          <div class="divider w-50 mt-2 mb-3 d-block"></div>
          <div class="mb-2">MSc Student at Data Science and Information Technologies, NKUA</div>
          <div><a href="mailto:cs22200012@di.uoa.gr" class="btn-icon"><span
            class="material-symbols-outlined">mail</span> cs22200012@di.uoa.gr</a></div>
        </div>

        <div class="col-md-4 d-flex flex-column justify-content-start align-items-center p-4">
          <h4>Dimitrios Krikonis</h4>
          <div class="divider w-50 mt-2 mb-3 d-block"></div>
          <div class="mb-2">MSc Student at Data Science and Information Technologies, NKUA</div>
          <div><a href="mailto:dimitriskr@di.uoa.gr" class="btn-icon"><span
            class="material-symbols-outlined">mail</span> dimitriskr@di.uoa.gr</a></div>
        </div>

        <div class="col-md-4 d-flex flex-column justify-content-start align-items-center p-4">
          <h4>Georgios Veryvakis</h4>
          <div class="divider w-50 mt-2 mb-3 d-block"></div>
          <div class="mb-2">MSc Student at Data Science and Information Technologies, NKUA</div>
          <div><a href="mailto:giorgosvery@di.uoa.gr" class="btn-icon"><span
            class="material-symbols-outlined">mail</span> giorgosvery@di.uoa.gr</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xxl px-4 py-5">
    <div class="row">
      <div class="tableau-desktop col-md-6 d-flex align-items-start">
        <img src="assets/tableau_desktop.png" alt="tableau_desktop" class="img-fluid">
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center align-items-start">
        <h2>Project Development</h2>
        <p>
          The visualizations included in this website were created using Tableau Desktop, were uploaded to Tableau
          Public and can be accessed there by clicking the corresponding links in each page containing a visualization.</p>
        <p>
          The website itself was developed using the Angular web framework and the project's full source code can be found on GitHub. In addition, the GitHub Pages service was utilized to host the website permanently.
        </p>
        <a href="https://github.com/dimitris-kr/streamviz" target="_blank" class="btn btn-primary btn-md rounded-pill btn-icon">GitHub Repository
          <svg fill="white" height="28" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32"
               data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default">
            <path
              d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
          </svg>
        </a>.
      </div>
    </div>


  </div>

  <div class="container-xxl px-4 py-3">
    <div class="row">
      <div class="col-md-6 order-md-1 d-flex align-items-center py-3">
        <img src="assets/db.png" alt="database" class="img-fluid db">
      </div>
      <div class="col-md-6 order-md-0 d-flex flex-column justify-content-center align-items-start py-3">
        <h2>Datasets</h2>
        <p>
          We tried to include as many and as recently updated data as possible, so we combined various sources to create
          a single .xlsx file following the relational model. The statistics (subscribers, revenue) included are up to
          the most recent completed quarter, which when the project was conducted was Q1 of 2023. While, the statistics
          are based on worldwide date, the content availability and monthly fee are region-specific for the United
          States. The movies and series's availability on Disney+, HBO Max, Netflix and Prime Video, was updated in
          March 2023, while on HULU it was in May 2022. The currency in every visualization is US dollars.
        </p>
        <a href="assets/streamin_dataset.xlsx" class="btn btn-primary btn-md rounded-pill" download>Download Dataset</a>
      </div>

    </div>


  </div>

  <div class="container-xxl px-4 py-5">
    <h2 class="mb-4">Credits & Sources</h2>
    <table class="table table-hover">
      <tbody>
      <tr>
        <th>Visualization Tools</th>
        <td><a href="https://www.tableau.com/products/desktop" target="_blank">Tableau Desktop</a>, <br><a
          href="https://public.tableau.com/app/discover" target="_blank">Tableau Public</a></td>
      </tr>
      <tr>
        <th>Web Framework</th>
        <td><a href="https://angular.io/" target="_blank">Angular</a></td>
      </tr>
      <tr>
        <th>Frontend Toolkit</th>
        <td><a href="https://ng-bootstrap.github.io/" target="_blank">Angular powered Bootstrap</a></td>
      </tr>
      <tr>
        <th>Site Hosting Service</th>
        <td><a href="https://pages.github.com/" target="_blank">GitHub Pages</a></td>
      </tr>
      <tr>
        <th>Images</th>
        <td><a href="https://unsplash.com/" target="_blank">Unsplash</a></td>
      </tr>
      <tr>
        <th>Movie Data</th>
        <td><a href="https://www.kaggle.com/datasets/ruchi798/movies-on-netflix-prime-video-hulu-and-disney"
               target="_blank">Kaggle - Movies on Netflix, Prime Video, Hulu and Disney+</a>,<br>
          <a href="https://www.kaggle.com/datasets/andrezaza/clapper-massive-rotten-tomatoes-movies-and-reviews"
             target="_blank">Massive Rotten Tomatoes Movies & Reviews</a>
        </td>
      </tr>
      <tr>
        <th>Series Data</th>
        <td><a href="https://www.kaggle.com/datasets/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney"
               target="_blank">Kaggle - TV shows on Netflix, Prime Video, Hulu and Disney+</a>,<br>
          <a href="https://www.kaggle.com/datasets/coltonbarger/rotten-tomatoes-reviews-for-online-streaming-shows"
             target="_blank">Rotten Tomatoes Reviews for Online Streaming Shows</a>
        </td>
      </tr>
      <tr>
        <th>Revenue & Subscriber Data (Multi-Platform)</th>
        <td><a href="https://www.kaggle.com/datasets/azminetoushikwasi/ott-video-streaming-platforms-revenue-and-users"
               target="_blank">Kaggle - OTT, Video Streaming Platforms - Revenue and Users</a></td>
      </tr>
      <tr>
        <th>Netflix Data</th>
        <td><a href="https://www.kaggle.com/datasets/mauryansshivam/netflix-ott-revenue-and-subscribers-csv-file"
               target="_blank">Kaggle - Netflix OTT Revenue and Subscribers</a>, <br>
          <a href="https://ycharts.com/companies/NFLX/revenues" target="_blank">YCharts - Netflix Revenue
            (Quarterly)</a>,
          <br>
          <a href="https://help.netflix.com/en/node/14164" target="_blank">Netflix Help Center - Countries where Netflix
            is available</a>,
          <br>
          <a
            href="https://www.statista.com/statistics/250934/quarterly-number-of-netflix-streaming-subscribers-worldwide/"
            target="_blank">Statista - Number of Netflix paid subscribers worldwide</a>,
          <br>
          <a href="https://www.kaggle.com/datasets/dgoenrique/netflix-movies-and-tv-shows" target="_blank">Kaggle -
            Netflix Movies and TV Shows</a>

        </td>
      </tr>
      <tr>
        <th>Disney+ Data</th>
        <td><a href="https://www.businessofapps.com/data/disney-plus-statistics/"
               target="_blank">Business of Apps - Disney Plus Revenue and Usage Statistics (2023)</a>, <br>
          <a href="https://www.crazystreamers.com/disney-plus/guides/disney-plus-available-countries/" target="_blank">Crazy
            Streamers - What are Disney Plus Available Countries?</a>,
          <br>
          <a href="https://www.kaggle.com/datasets/dgoenrique/disney-movies-and-tv-shows" target="_blank">Kaggle -
            Disney+ Movies and TV Shows</a>

        </td>
      </tr>
      <tr>
        <th>HULU Data</th>
        <td><a href="https://www.businessofapps.com/data/hulu-statistics/"
               target="_blank">Business of Apps - Hulu Revenue and Usage Statistics (2023)</a>, <br>
          <a href="https://help.hulu.com/s/article/cant-use-internationally"
             target="_blank">HULU Help Center - Why can't I use Hulu internationally?</a>,
          <br>
          <a href="https://www.kaggle.com/datasets/victorsoeiro/hulu-tv-shows-and-movies" target="_blank">Kaggle - HULU
            TV Shows and Movies</a>
        </td>
      </tr>
      <tr>
        <th>HBO Max Data</th>
        <td><a href="https://headphonesaddict.com/hbo-max-subscribers/"
               target="_blank">Headphones Addict - HBO Max Subscriber Numbers (Fresh Data 2023)</a>, <br>
          <a href="https://help.hbomax.com/us/Answer/Detail/000001289"
             target="_blank">HBO Max Help Center - Where is HBO Max available?</a>, <br>
          <a href="https://streamingbetter.com/hbo-max-discovery-plus-subscribers-q1-2023/"
             target="_blank">Streaming Better - Global HBO Max And Discovery+ Subscribers</a>, <br>
          <a href=" https://www.cnbc.com/2023/05/05/warner-bros-discovery-wbd-earnings-report-1q23.html"
             target="_blank">CNBC - Warner Bros. Discovery shares</a>,
          <br>
          <a href="https://www.kaggle.com/datasets/dgoenrique/hbo-max-movies-and-tv-shows" target="_blank">Kaggle - HBO
            Max Movies and TV Shows</a>

        </td>
      </tr>
      <tr>
        <th>Prime Video Data</th>
        <td><a href="https://en.wikipedia.org/wiki/Amazon_Prime_Video"
               target="_blank">Wikipedia - Amazon_Prime_Video</a>, <br>

          <a href="https://headphonesaddict.com/amazon-prime-statistics/"
             target="_blank">Headphones Addict - Amazon Prime Statistics</a>, <br>

          <a href="https://www.kaggle.com/datasets/dgoenrique/amazon-prime-movies-and-tv-shows"
             target="_blank">Kaggle - Amazon Prime Movies and TV Shows</a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>


</div>
