<div class="container-fluid p-0 subheader">
  <div
    class="container-fluid d-flex flex-column justify-content-center align-items-center text-center px-2">
    <h1>Statistical Analysis on Streaming Platforms</h1>
    <nav style="--bs-breadcrumb-divider: '›';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Analytics</li>
      </ol>
    </nav>
  </div>
</div>

<div class="container-xxl d-flex justify-content-end align-items-center py-2">
  <button (click)="goTo('comm')" class="m-2 btn btn-link btn-icon viz-top-btn">Insights <span class="material-symbols-outlined">
expand_more
</span>
  </button>
  <a
    href="https://public.tableau.com/views/stremviz-analytics/StreamingPlatformStatisticalAnalysis?:language=en-US&:display_count=n&:origin=viz_share_link"
    class="btn btn-primary btn-sm rounded-pill m-2 btn-icon viz-top-btn" target="_blank">View on Tableau Public <span
    class="material-symbols-outlined" style="font-size: 1rem">
open_in_new
</span>
  </a>
</div>

<div class="container-fluid p-0">
  <div class="dashboard-movies">
    <app-tableau-viz
      dashboardIndex="viz1"
      vizUrl="https://public.tableau.com/views/stremviz-analytics/StreamingPlatformStatisticalAnalysis?:language=en-US&:display_count=n&:origin=viz_share_link"
      fixedH="2000"
      maxW="1000"
      fixedHMob="1900">
    </app-tableau-viz>
  </div>

</div>

<div id="comm" class="container-comm py-5 px-2">
  <h4>Insights</h4>
  <p>In this dashboard we compare the streaming platforms in terms of their analytics: Region Availability, Pricing, Number of Subscribers and Revenue. The user can compare the platforms by clicking on multiple platform icon filters, while holding down the CTRL key. They can also isolate a certain time period for the two line charts.</p>
  <div *ngFor="let insight of insights"  class="icon-list-item">
    <div><span class="material-symbols-outlined">chevron_right</span></div>
    <p>{{insight}}</p>
  </div>
  </div>
