<div class="container-xxl d-flex justify-content-end align-items-center py-2">
  <button (click)="goTo('comm')" class="m-2 btn btn-link btn-icon viz-top-btn">Insights <span class="material-symbols-outlined">
expand_more
</span>
  </button>
  <a
    href="https://public.tableau.com/views/streamviz-series/SeriesOnStreamingPlatforms?:language=en-US&:display_count=n&:origin=viz_share_link"
    class="btn btn-primary btn-sm rounded-pill m-2 btn-icon viz-top-btn" target="_blank">View on Tableau Public <span
    class="material-symbols-outlined" style="font-size: 1rem">
open_in_new
</span>
  </a>
</div>

<div class="container-fluid p-0">
  <app-tableau-viz
    dashboardIndex="viz1"
    vizUrl="https://public.tableau.com/views/streamviz-series/SeriesOnStreamingPlatforms?:language=en-US&:display_count=n&:origin=viz_share_link"
    fixedH="2900"
    maxW="1100"
    fixedHMob="3400">
  </app-tableau-viz>
</div>

<div id="comm" class="container-comm py-5 px-2">
  <h4>Insights</h4>
  <p>In this dashboard we compare the streaming platforms in terms of TV-series. The user can compare multiple platforms by clicking on multiple platform icon filters, while holding down the CTRL key. We attempted to find possible relations between features of the series. More specifically, we attempted to find correlation between the series’ rating and the release year and between the rating and the genre.</p>
  <div *ngFor="let insight of insights"  class="icon-list-item">
    <div><span class="material-symbols-outlined">chevron_right</span></div>
    <p>{{insight}}</p>
  </div>
</div>
