<div id="home">

  <div class="container-fluid p-0 position-relative">
    <ngb-carousel class="carousel-fade">
      <ng-template ngbSlide *ngFor="let banner of banners">
        <div class="position-relative slide-img">
          <img [src]="banner" alt="slide" class="img-fluid"/>
          <div class="position-absolute w-100 h-100 top-0 overlay"></div>
        </div>
      </ng-template>
    </ngb-carousel>

    <div
      class="position-absolute h-100 top-0 container-fluid d-flex flex-column justify-content-end align-items-center z-3 text-center carousel-content py-4">
      <h1>StreamViz</h1>
      <h3>Streaming Platform Visual Comparisons</h3>
      <p class="desc">Here you'll find interactive data visualizations that analyse and compare the content (movies &
        tv), subscribers and revenue of the most popular streaming platforms today!</p>
    </div>
  </div>

  <div class="container-xxl px-2 py-5 text-center idea">
    <h2>The Idea</h2>
    <p>
      The streaming era has revolutionized the way people access movies, series etc. as well as the way the
      entertainment business works. This project offers data visualizations concerning the content, revenue,
      and subscribers of various streaming platforms, to acquire knowledge regarding the differences in what
      they offer, possible trends, and their growth over time.
    </p>
  </div>

  <div class="container-xxl px-2 py-0 text-center">
    <h5 class="mb-2">Streaming Platforms Included in the Project</h5>
    <div class="d-flex flex-row justify-content-center align-items-center">
      <div *ngFor="let i of [0,1,2,3,4]" class="platform-icon">
        <img [src]="platform_icons[i]" [alt]="platform_icons[i] + '_icon'" class="img-fluid py-2 px-1"
             placement="bottom"
             [ngbTooltip]="platforms[i]"/>
      </div>
    </div>
  </div>

  <div class="container-xxl px-2 py-5 text-center my-5">
    <h2>Visualizations</h2>
    <div class="row px-3">
      <div class="col-md-4 d-flex flex-column justify-content-start align-items-center p-4">
        <a routerLink="/analytics" class="teaser">
          <h4>Streaming Platforms Statistical Analysis</h4>
        </a>
      </div>

      <div class="col-md-4 d-flex flex-column justify-content-start align-items-center p-4">
        <a routerLink="/movies" class="teaser">
          <h4>Movies on Streaming Platforms</h4>
        </a>
      </div>

      <div class="col-md-4 d-flex flex-column justify-content-start align-items-center p-4">
        <a routerLink="/series" class="teaser">
          <h4>Series on Streaming Platforms</h4>
        </a>
      </div>
    </div>


  </div>

  <div class="container-xxl px-2 py-5 text-center my-5">
    <h2>About the Project</h2>
    <div class="row px-2 justify-content-center">
      <div class="col-md-6 d-flex flex-column justify-content-start align-items-center p-4 icon-box">
        <div class="mb-3">
          <span class="icon material-symbols-outlined">connected_tv</span>
        </div>
        <h3>Streaming Nowadays</h3>
        <p>
          Streaming platforms are becoming increasingly popular nowadays. People are able to choose from an abundant
          catalogue of movies and series and watch whenever and wherever they desire. Therefore, due to this great
          convenience and a low cost, streaming is becoming the standard way of consuming media. That's why we chose to
          analyse this phenomenon through data visualization.
        </p>
      </div>

      <div class="col-md-6 d-flex flex-column justify-content-start align-items-center p-4 icon-box">
        <div class="mb-3">
          <span class="material-symbols-outlined icon">flag</span>
        </div>
        <h3>The Goal of this Project</h3>
        <p>
          The aim of this project is to extract information, through the visualizations, regarding which streaming platform outperforms the
          others in terms of overall success, quantified by number of users and revenue. In addition, we attempt to find
          possible relations between movie/series characteristics, for instance whether the
          year that a movie was released or its genre affects its rating, and how it is manifests for each platform.
        </p>
      </div>

      <div class="col-md-6 d-flex flex-column justify-content-start align-items-center p-4 icon-box">
        <div class="mb-3">
          <span class="material-symbols-outlined icon">group</span>
        </div>
        <h3>Who is this project for?</h3>
        <p>
          This project is for people that want to quickly and easily gain information about the
          platforms’ content and ultimately choose the one that fits their needs the best, based on content, price etc.
          On the other hand it is useful for the companies, owners and managers of streaming
          platforms, to discover trends in the industry and what makes each other successful.
        </p>
      </div>

    </div>
    <a routerLink="/about" class="btn btn-primary md rounded-pill">More About The Project</a>

  </div>

</div>
